<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-blog</title>
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            <nav style="display: inline-block; margin-right: 12px;">
                <a href="{% url 'blog:home' %}">Dashboard</a>
                <a href="{% url 'edu:list_livros_paginator' %}">Livros</a>
                <a href="{% url 'edu:list_autores' %}">Autores</a>
                <a href="{% url 'edu:list_editoras' %}">Editoras</a>
            </nav>
            <span style="margin-right: 8px;">Olá, {{request.user.username}}</span>
            <form action="{% url 'core:logout' %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit">Sair</button>
            </form>
        {% else %}
            <nav style="display: inline-block; margin-right: 12px;">
                <a href="{% url 'core:login' %}">Entrar</a>
                <a href="{% url 'core:signup' %}">Registrar</a>
            </nav>
        {% endif %}
        {% block header %}
        {% endblock %}
    </header>



    <main>
        {% block content%}
    
        {% endblock %}      
    </main>

    <footer>
        {% block footer %}
        <p>&copy; 2026 Meu Blog. Todos os direitos reservados.</p>
        {% endblock %}
    </footer>
</body>
</html>